body{
    background-color: black;
    color:gray;
}
header,main,nav,footer{
    text-align: center;
}
nav a{ /* links within "nav" container */
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /*removes underline */
    color:white; /* by default, links are blue */
}
nav a:hover { /*pseudo class*/
    border-bottom:2px orange solid;
    font-size:2em;
    transition: .9s; /*transition effect*/
}
#virus{
    display: inline-block;
}
#currentPage{
    color: #42f442;
}
footer{
    clear:left;
    font-size: .8em;
    color: #42f4b9;
}
table{
    margin:0px auto;
    float: none;
}
td{
    padding-right: 10px;
    font-size:1.3em;
}
td strong{
    color:orange;
}
#table-header{
    background-color: #351a00;
}
.table-row{
    background-color: #753900;
}
ul{
    text-align: left;
    padding-left: 200px;
}
.hobby{
    color: yellow;
}
h1{
    font-family: 'Merriweather Sans',sans-serif;
    font-size: 4em;
    margin-bottom: 0px;
	color: #000000;
	background-color: #FFF;
	text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}
h2{
    font-family: 'Merriweather Sans',sans-serif;
    font-size: 2em;
    margin-bottom: 0px;
	color: #FFF;
}
#bodytext{
	text-indent: 54px;
	letter-spacing: 4px;
	word-wrap: break-word;
}
.tb {
  border: 4px solid #555555;
  background-color: #555555;
  width:600px;
  text-align: center;
  border-collapse: collapse;
}
.tb th {
  border: 1px solid #555555;
  padding: 5px 10px;
}
.tb .tbody td {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
}
.tb .thead {
  background: #398AA4;
  border-bottom: 10px solid #398AA4;
}
.tb .thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  text-align: left;
  border-left: 2px solid #398AA4;
}
.tb .thead th:first-child {
  border-left: none;
}